body{
    background-color:black;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.cir {
    height: 150px;
    width: 150px;
    border: 5px solid palevioletred;
    border-radius: 50%;
    border-bottom:transparent;
    border-left:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate1 2s infinite alternate linear;
}

.icir {
    height: 120px;
    width: 120px;
    border: 5px solid goldenrod;
    border-radius: 50%;
    border-right:transparent;
    border-top:transparent;
    animation: rotate 2s infinite linear;
}

@keyframes rotate1 {
    0% { transform: rotate(90deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes rotate {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
}
